<table class="footer-block" border="0" cellspacing="0" cellpadding="0">
   <!-- <tr class="ie-padding"></tr> -->
   <tr>
      <td class="logo-block">
         <a href="{{ site }}">
            <img class="logo" width="40" height="40" src="{{ site }}static/img/flyaps-arrow-fm.gif" alt="Flyaps logo" border="0"/>
         </a>
      </td>
   </tr>
   <tr>
      <td>
         <table class="icons-table" border="0" cellspacing="0" cellpadding="0">
            <tbody>
               <tr>
                  <td width="19" height="20" align="left">
                     <a href="https://twitter.com/flyaps" target="_blank" title="Follow">
                        <img width="9" height="17" border="0" class="social-icon" alt="" src="{{ site }}static/img/i-tw-fm.png">
                     </a>
                  </td>
                  <td width="28" height="20" align="left">
                     <a href="https://facebook.com/flyaps" target="_blank" title="Follow">
                        <img width="18" height="16" border="0" class="social-icon" alt="" src="{{ site }}static/img/i-fb-fm.png">
                     </a>
                  </td>
                  <td width="25" height="20" align="left">
                     <a href="http://www.linkedin.com/company/flyaps"  target="_blank">
                        <img width="15" height="14" border="0" class="social-icon" alt="" src="{{ site }}static/img/i-in-fm.png">
                     </a>
                  </td>
                  <td width="25" height="20" align="left">
                     <a href="https://plus.google.com/115850992357430267073" target="_blank">
                        <img width="15" height="17" border="0" class="social-icon" alt="" src="{{ site }}static/img/i-g-fm.png">
                     </a>
                  </td>
               </tr>
            </tbody>
         </table>
      </td>
   </tr>
</table >


