<table class="footer-block" border="0" cellspacing="0" cellpadding="0">
   <!-- <tr class="ie-padding"></tr> -->
   <tr>
      <td class="logo-block" align="left">
         <a href="{{ site }}">
            <img width="150" border="0" class="logo" src="{{ site }}static/img/flyaps-logo.png" alt="Flyaps logo" />
         </a>
      </td>
      <td class="icons-block" align="right" width="100%">
         <table class="icons-table" border="0" cellspacing="0" cellpadding="0">
            <tbody>
               <tr>
                  <td width="43" height="32" align="left">
                     <a href="https://twitter.com/flyaps" target="_blank" title="Follow">
                        <img width="33" height="32" border="0" class="social-icon" alt="" src="{{ site }}static/img/i-tw-2-fm.png">
                     </a>
                  </td>
                  <td width="43" height="32" align="left">
                     <a href="https://facebook.com/flyaps" target="_blank" title="Follow">
                        <img width="33" height="32" border="0" class="social-icon" alt="" src="{{ site }}static/img/i-fb-2-fm.png">
                     </a>
                  </td>
                  <td width="43" height="32" align="left">
                     <a href="http://www.linkedin.com/company/flyaps"  target="_blank">
                        <img width="33" height="32" border="0" class="social-icon" alt="" src="{{ site }}static/img/i-in-2-fm.png">
                     </a>
                  </td>
                  <td width="33" height="32" align="left">
                     <a href="https://plus.google.com/115850992357430267073" target="_blank">
                        <img width="33" height="32" border="0" class="social-icon" alt="" src="{{ site }}static/img/i-g-2-fm.png">
                     </a>
                  </td>
               </tr>
            </tbody>
         </table>
      </td>
   </tr>
</table>


