<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>{{ campaign.subject }}</title>
      <style  type="text/css">
         @media only screen and (max-width: 601px) {
            .container, .footer-block{width: 100%!important;max-width: none!important;min-width: none!important;}
            .logo{margin-right:15px!important;}
            .logo-block, .icons-block{display:block!important;width: 100%!important;text-align:center!important;}
            .icons-table{margin: auto!important;}
            .footer-block{width: 100%!important;}
         }
         .container{padding-bottom:15px;overflow: hidden;}
         .logo{margin: 0 0 10px 0;}
         .text-block{padding-bottom: 20px;}
         .footer-block{width: 100%;padding-top: 20px;min-width: 300px;max-width: 460px;border-top: 1px solid #ccc;padding-top:20px;}
      </style>
   </head>
   <body>
      <table border="0" cellpadding="0" cellspacing="0">
         <tr>
            <td class="container">
               <table width="100%" class="text-block" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                     <td>
                        {{ campaign.template.body|safe }}
                     </td>
                  </tr>
               </table>
               <!--[if (gte mso 9)|(IE)]>
                  <table class="layout" width="460"  align="left" cellpadding="0" cellspacing="0" border="0" >
                        <tr>
                           <td style="width:460px;" >
               <![endif]-->
               {% include "fmail/_email_footer_2.html" with site="https://flyaps.com/" %}
               <!--[if (gte mso 9)|(IE)]>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               <![endif]-->
            </td>
         </tr>
      </table>
   </body>
</html>

