{% load l10n %}

   <div>
      {% for obj in queryset %}
      <input type="hidden" name="_selected_action" value="{{ obj.pk|unlocalize }}" />{# pass back selected items #}
      {% endfor %}
      <input type="hidden" name="action" value="{{ action }}" />{# pass back action name #}
      <input type="hidden" name="form" value="true" />{# form indicator #}
      <input type="submit" value="{{ action|title }}" />
   </div>
