{% extends "admin/base_site.html" %}
{% load i18n l10n %}

{% block content %}
<form method="post">{% csrf_token %}
   <div>
      {% trans "Enter emails separated by commas: " %}
      <input type="text" name="emails" value="{{ email }}" style="width:480px;" />
   </div>
   {% include "fmail/admin/_campaign_submit.html" with action="test" %}
</form>
{% endblock %}

